.pageHeader {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding: 10px 0px;

  .headerTitle {
    margin: 0;
    font-size: 2.4rem;
  }

  .headerRight {
    text-align: right;
  }
}

.addProperty {
  color: white;
  background-color: #89CDB2;
  margin: 0;
}

.propertyRow{
  width: 100%;
  margin: 0;
}