{
  "extends": ["airbnb", "plugin:react/recommended"],
  "plugins": ["react"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jquery": true,
    "mocha": true
  },
  "rules": {
    "linebreak-style": "off",
    "comma-dangle":"off",
    "quotes": 0,
    "no-console": 1,
    "no-debugger": 1,
    "no-var": 1,
    "semi": [1, "always"],
    "no-trailing-spaces": 0,
    "eol-last": 0,
    "no-unused-vars": 0,
    "no-underscore-dangle": 0,
    "no-alert": 0,
    "no-lone-blocks": 0,
    "jsx-a11y/href-no-hash": 0,
    "react/jsx-filename-extension": 0,
    "import/no-named-as-default": 0,
    "import/no-named-as-default-member": 0,
    "react/forbid-prop-types": 0,
    "react/prefer-stateless-function": 0
  }
}