.fileupload {
  width: 100%;
  min-height: 150px;
  border: 1px dashed black;

  .fileRow {
    width: 90%;
    margin: 0 auto;

    .filePreview {
      position: relative;
      display: inline-block;
      height: 150px;
      width: 150px;
      margin-right: 15px;
      border: 1px solid black;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}