.propertyContainer {
  margin-bottom: 2rem;

  .property {
    box-shadow: 1px 1px 1px 1px gray;

    .imgContainer {
      padding: 0;
    }

    .img {
      min-height: 170px;
    }

    .hr {
      margin: 0;
    }
  }
}