.propertyContainer {
  margin-bottom: 2rem;

  .property {
    box-shadow: 1px 1px 1px 1px gray;

    .imgContainer {
      min-height: 100px;
      text-align: center;

      .img {
        margin-top: 50px;
      }
    }

    .address {
      width: 100%;
    }
  }
}